{% extends 'base.html' %}

{% block body %}
<div class="content-center">
    <div class="container container-fluid mx-auto">
        <h2>Edit Employee</h2>
        <form method="post" action="">
            {% csrf_token %}
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input class="form-control" type="text" name="first_name" value="{{ employee.first_name }}" required><br>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input class="form-control" type="text" name="last_name" value="{{ employee.last_name }}" required><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="institution">Institution:</label>
                <select class="form-control" name="institution" required>
                    {% for institution in institutions %}
                        <option value="{{ institution.id }}" {% if employee.institution.id == institution.id %}selected{% endif %}>
                            {{ institution.Institution_name }}
                        </option>
                    {% endfor %}
                </select><br>
            </div>

            <div class="form-group">
                <label for="personality">Personality:</label>
                <select class="form-control" name="personality" required>
                    {% for personality in personalities %}
                        <option value="{{ personality.id }}" {% if employee.personality.id == personality.id %}selected{% endif %}>
                            {{ personality.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" style='margin-right:20px;' class="btn btn-danger">Save Changes</button>
            <a href="{% url 'employee_view' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
<table id='data-table'></table>
{% endblock %}
