{% load static %}
<header class="header container">
    <nav>
        <ul class="header-items">
            <li>
                <button id="button-menu" class="navbar-toggler toggler-example" onclick="toggleMenu()"  >&#9776;
                <div class="sidebar" id="mySidebar">
                    <div class="logo text-center">
                        <a class="navbar-brand" href="https://github.com/CedrickChu">
                        <img src="{% static 'images/chu.png' %}" alt="My Logo" width="80" height="80">
                    </div>
                    <a href="{% url 'home_view' %}">DASHBOARD</a>
                    <a href="{% url 'employee_view' %}">EMPLOYEE</a>
                    <a href="{% url 'personality_view' %}">PERSONALITY</a>
                    <a href="{% url 'training_view' %}">TRAINING</a>
                    <a href="{% url 'project_view' %}">CREATE PROJECT</a>
                    <a href="{% url 'project-list' %}">PROJECT LIST</a>
                </div>
                <div id="overlay" onclick="w3_open()">
                <script src="{% static 'js/sidebar.js' %}"></script>
                </div>
            </li>
            <li>
                <input class="form-control" id="searchInput" type="text" placeholder="Search.."style="border: 2px solid #808080;">
            </li>   
            <li>
                <button aria-label="theme-toggle btn" id="theme-toggle" class="theme_mode">
                    <img src="static/images/sun.png" alt="Sun Icon">
                </button>
            </li>
        </ul>
        <button aria-label="mobile nav button" class="header-menu-button">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            >
            <path
                fill-rule="evenodd"
                d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                clip-rule="evenodd"
            />
            </svg>
        </button>
    </nav>   
</header>