{% extends 'base.html' %}
{% block body %}
<div class='content-center' style='width:70%; margin: auto;'>
    <h1>Project Description</h1>
    <form method="post">
        {% csrf_token %}
        <label for="project_name">Project Name:</label>
        <input class='form-control' type="text" id="project_name" name="project_name" required>

        <label for="project_description">Project Description:</label>
        <textarea class='form-control'  id="project_description" name="project_description" rows="4" required></textarea>

        <label for="project_goals">Project Goals:</label>
        <textarea class='form-control'  id="project_goals" name="project_goals" rows="4" required></textarea>

        <label for="required_skills">Required Skills (comma-separated):</label>
        <input class='form-control'  type="text" id="required_skills" name="required_skills" required><br>

        <button class='btn btn-fill btn-danger' type="submit">Submit</button>
    </form>
</div>
{% endblock %}